body {
   margin:0;
   padding:0;
   height:100%;
}
.align_center{
    margin: 0 auto;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.grey_bar{
	background-color: #f5f5f5;
}
.height_10{
	height: 10px;
}
.blue_bar{
	background-color: #acdbed;
	height: 10px;
}
/*paddings*/
.padding_top_10{
	padding-top: 10px;
}
.padding_top_20{
	padding-top: 20px;
}
.padding_bottom_10{
	padding-bottom: 10px;
}
.padding_left_30{
	padding-left: 30px;
}
.padding_left_60{
	padding-left: 60px;
}
/*margins*/
.margin_top_15{
	margin-top: 15px;
}
.margin_top_10{
	margin-top: 10px;
}
.margin_top_20{
	margin-top: 20px;
}
.margin_top_30{
    margin_top: 30px;
}
.margin_bottom_0{
    margin-bottom: 0;
}
.margin_bottom_20{
	margin-bottom: 20px;
}
.margin_bottom_-20{
	margin-bottom: -20px;
}
footer {
    margin-top: 45px;
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    width: 100%;
    display:table;
}
.vertical_align{
	float: none;
    display: table-cell;
    vertical-align: middle;
}
.width_120{
	width: 120px;

}
/*fonts*/
.title_small{
    font-size: 11px;
}
.text_red{
    color: red;
}
.text_yellow{
    color: #ffff00;
}


